
<div class ="container">

    <main class="form-signin">
      <!-- (ngSubmit)="onClick()" -->
      <form  (ngSubmit)="onClickLogIn()" > 
        <h1 class="h3 mb-3 fw-normal text-center fw-bold">SIGN IN</h1>
    
        <!-- [formControl]="username" -->
        <div class="form-floating">
          <input type="email" class="form-control" placeholder="name@example.com" [formControl]="username">
          <label>Email address</label>
        </div>
        
        <br>
  
        <!-- [formControl]="password" -->
        <div class="form-floating">
          <input type="password" class="form-control" placeholder="Password" [formControl]="password">
          <label>Password</label>
        </div>
  
        <br>
        
        <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
      </form>
    </main>
  
  
  </div>
  